body {
    background: rgba(13, 122, 160, 0.5);
    padding: 0 auto;
    margin: 0 auto;
}


main{
    display: flex;
    color: floralwhite;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background: url("../img/index.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-overlay{
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 10%;
    opacity: .9;
    background-image: -moz-repeating-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.menu {
    display: flex;
    width: 30%;
}

.menu ul {
    color: floralwhite;
    justify-content: space-between;
    width: 60%;
    display: flex;
    flex: 1;
}

.menu ul li  {
    color: floralwhite;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    display: flex;
    font-family: "Baskerville Old Face", "Palatino Linotype", sans-serif;
    font-size: 18px;
    font-style: italic;

}

.menu ul li a {
    margin: 20px;
    font-family: Dancing Script, sans-serif;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #d8fdff;
}

.menu-link{
    text-decoration: none;
    color: #ffffff;
}

.main{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 90px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-gap:50px;
}

.main-overlay{
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 15%;
    opacity: .9;
    background-image: -moz-repeating-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%,rgb(110,69,226) 100% );
}

.header{
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.mainbox{
    display: block;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
    margin-block: 10px;
}


.grid {
    display: grid;
    grid-template-columns: 150px 300px 150px 300px;
    grid-auto-rows:minmax(50px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-gap:50px;
    justify-items: stretch;
}

.item{
    padding: 10px;
}

.item:first-child{
    grid-column-start: 1;
    grid-column-end: -1;
    align-self: stretch;
    justify-self: stretch;
}

.styli1{
    font-family: Arial, sans-serif;
    color: black;
}
.item p {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
}

.item h1 {
    font-size: 30px;
    color: red;
    margin: 0 1px 10px;
}
.item h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff2647;
}

.gridbox{
    display: grid;
    grid-template-columns: 45px 45px 45px;
    grid-auto-rows: 1px 1px 1px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-gap:10px;
    align-items: center;
}

.gridbox img{
    width: 60px;
    height: 60px;
}
.boxg{
   padding: 10px;
}

.footer{
  display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 90px 90px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-gap:50px;
   padding: 0 auto;
    margin: 0 auto;
    background: #3d3e96;
}

.text{
    color: #3a37dd;
    margin: 0 1px;
    padding: 5px;
    text-align: center;
}

.pos{
    padding: 1px;
    font-size: 14px;
    margin: 1px;
    margin-block: auto;
    text-align: justify;
    text-indent: 5px;
    border-width: 300px;
    box-sizing: border-box;
    overflow: auto;
}

.footer h3 {
   color: red;
}

.footer img {
    width: 120px;
    height: 120px;
}