body {
    background: rgba(13, 122, 160, 0.5);
    padding: 0 20px 20px 20px;
    margin: 0;
}

article {
    max-width: 960px;
    margin: 0 auto;
}

header {

    margin: 0 auto;
    padding: 0 auto;

}

#logo {
    font-family: "Baskerville Old Face", "Palatino Linotype", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.1em;
    font-style: italic;
    border-radius: 0 0 20px 20px;
}

#navi {
    font-family: "Baskerville Old Face", "Palatino Linotype", sans-serif;
    color: rgba(13, 122, 160, 0.3);
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 0 1px 1px 5px;
    padding: 0 auto;
}

#nav1 {
    width: 800px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding: 0 auto;
    margin: 0 10px 20px;
}


#nav1 li {
    width: 150px;
    display: inline-block;
}

#lef {
    margin: 0 7px;
}

h1, h2, h3, h4, h5, h6 {
    margin: auto;
    font-family: "Russo One", serif;
    padding: 4px 5px;
}

h1 {
    font-size: 32px;
}

h3 {
    color: crimson;
    margin: 0 10px;
    right: 10px;
}

h4 {
    margin: 0 10px;
    right: 10px;
}


h5 {
    margin: 0 10px;
    right: 10px;
}
p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

#nav1 a {
    margin: 20px;
    font-family: Dancing Script, sans-serif;
    padding-bottom: 10px;
    text-decoration: none;
}

#nav1 a:hover{
    color: #ffcb4f;
}
#pos {

    clear: left;
}

#post p {
    font-size: 20px;
}

.superblock {
    background: #3d3e96;
    display: block;
    padding: 0 1px 20px;
    overflow: auto;


}

.superblock h3 {
    color: crimson;
    overflow: auto;
}

.superblock p {
    color: #ffffff;
    overflow: auto;
}

.newwait {
    width: auto;
    height: auto;
    margin: 10px auto;
    padding-left: 10px;
}

.cont {
    margin: 1px;
    padding: 12px;
    margin-block: auto;
    text-align: justify;
    text-indent: 5px;
    border-width: 300px;
    box-sizing: border-box;
    width: 95%;
    height: 80%;
    overflow: auto;
}

.line_block {
    width: auto;
    height: auto;
    float: left;
    margin: 2px;
    text-align: center;
}

.line_block img {
    size: 120px;
    width: 150px;
    float: left;
}

.test {
    margin: 20px 50px 20px;
    top: 10px;
    max-width: initial;
    background: #ffffff;
    line-height: 20px;
    text-align: justify;
    text-indent: 5px;
    box-sizing: border-box;
    width: 50%;
    overflow: auto;
}

.contl {
    width: 130px;
    height: 120px;
    margin: 5px 5px 1px;
    padding: 0 5px; color: #999999;
    float: left;
    z-index: 1;
    overflow: auto;
}

.cont2 {
    width: 130px;
    height: 120px;
    position: relative;
    padding: 5px;
    float: top;
    left: 10px;
    z-index: 2;
    overflow: auto;
}

.cont3 {
    size: 120px;
    margin: 0 auto;
    padding: 5px 5px;
    float: right;
}

.social {
    width: auto;
    height: auto;
    overflow: auto;
}

.socialok {
    margin: 0 auto;
    padding: 0 auto;
    clear: both;
    float: right;
    overflow: auto;
}

.socialfs {
    width: 40px;
    size: 40px;
    margin: 0 auto;
    padding: 0 auto;
    float: right;
    overflow: auto;
}

.socialvk {
    width: 40px;
    size: 40px;
    margin: 0 auto;
    padding: 0 auto;
    float: right;
    overflow: auto;
}

.ctx {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 10px;
    padding: 2px;
    line-height: 20px;
    text-align: justify;
    text-indent: 5px;
    border-width: 300px;
    box-sizing: border-box;
    float: top;
    overflow: auto;
}

.ctx1 {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    margin: 1px;
    padding: 2px;
    margin-block: auto;
    text-align: justify;
    text-indent: 5px;
    border-width: 310px;
    box-sizing: border-box;
    width: 74%;
    height: 50%;
    float:top;


}

.note {
    color: #3a37dd;
    margin: 0 1px;
    padding: 5px;
}


.block {
    width: auto;
    height: auto;
    margin: auto;
    padding-left: auto;
}

.context {
    margin: 5px 50px 1px 50px;
    top: 150px;
}

.context p {
    word-spacing: 2px;
    text-shadow: -1px 2px 3px ;
    line-height: 20px;
    text-indent: 10px;
    border: 1px solid #a4a7ff;
    background: #daeefc;
    margin-bottom: 10px;
    margin-top: -2px;
    border-radius: 1px 1px 20px 20px;
    padding: 5px;
    box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.5 );
}

.context h3{
    color: black;
}

.context h4::first-letter,h5::first-letter{
    font-size: 25px;
    font-weight: bold;
    color: red;
    padding: 5px auto;
}

ol {
    font-size: 20px;
    text-shadow: -1px 2px 3px ;
    line-height: 15px;
    text-indent: 10px;
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
    color: #323130;
    font-family: 'Great Vibes', cursive;
}

img[ title="reklam"] {
    size: 120px;
    width: 150px;
}

img[ title="botton"] {
    size: 80px;
    width: 120px;
}

img[title="logo1"] {
    width: 900px;
    border-radius: 0 0 50px 50px;
}

img[title="fs"] {
    width: 30px;
    size: 30px;
}

img[title="vk"] {
    width: 30px;
    size: 30px;
}

img[title="ok"] {
    width: 30px;
    size: 30px;
}
